html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: rgb(61, 61, 60);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

.calculator-item{
    background-color: rgb(109, 109, 210);
    border: .2px solid rgb(61, 61, 60);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.calculator-item:hover{
    cursor: pointer;
}

#screen{
    background-color: rgb(208, 202, 202);
    width: 500px;
    padding: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0 0;
    height: 100px;
    font-size: 1.2rem;
}

#multiply-btn{
    border-radius: 0px 0px 0px 10px;
}

#equal-btn{
    border-radius: 0px 0px 10px 0px;
}